$table-border-radius: 25px;

:host {
  align-items: center;
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
}

h5,
h6 {
  color: var(--light-gray);
  text-align: center;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.15em;
  margin-bottom: 20px;
  margin-top: 28px;
}

.header {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__content {
    background-color: var(--green);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 34px;
    width: 100%;
  }

  &__left {
    display: flex;
    gap: 20px;
  }
}

.link {
  &__container {
    border-radius: 8px;
    padding: 12px 24px;

    & a {
      color: var(--light-gray);
      cursor: pointer;
    }
  }

  &__icon {
    margin-right: 6px;
  }

  &__active {
    background-color: var(--dark-blue);
    color: var(--light-gray);
  }
}

.table {

  border-radius: $table-border-radius;
  background-color: var(--grass-green);
  margin-top: 20px;
  width: 100%;

  th:first-of-type {
    border-top-left-radius: $table-border-radius;
  }
  th:last-of-type {
    border-top-right-radius: $table-border-radius;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: $table-border-radius;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: $table-border-radius;
  }

  .mat-cell {
    color: inherit;
  }

  .mat-row {
    height: 3.5em;

    &:hover {
      background-color: rgba(2, 1, 31, 0.267);
      color: var(--light-blue);
      filter: saturate(4);
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;

    button {
      padding: 6px 10px;
      border: none;
      border-radius: 6px;
    }
  }

  &__cell {
    border-color: var(--gray);
    border-width: 2px;
    color: var(--light-gray);
    margin: 0 10px;

    img {
      vertical-align: middle;
    }

    &--clickable {
      cursor: pointer;
    }

    &--header {
      font-size: 1.1em;
    }

    &--right {
      padding-right: 30px;
      text-align: right;
    }
  }

  &__utils {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;

    button {
      background-color: var(--dark-blue);
      border: none;
      border-radius: 12px;
      color: var(--light-gray);
      padding: 6px 12px;

      span {
        margin-left: 6px;
      }
    }

    input {
      border-radius: 6px;
      padding-left: 8px;
    }
  }
}

.users-management__content {
  max-width: 1200px;
  width: 80%;
}
