<div class="login">
  <div>
    <h3>User management portal</h3>
  </div>
  <div>
    <form>
      <div>
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <span>Please, enter a username.</span>
      <div>
        <input type="password" name="password" placeholder="Password" required>
      </div>
      <span>Please, enter a password.</span>
      <div>
        <button type="submit" name="button">
          <i class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
          <span> Loading...</span>
          <span> Login</span>
        </button>
      </div>
    </form>
  </div>
  <div>
    <div>
      Don't have an account? <a>Sign up.</a>
    </div>
  </div>
</div>
