button {
  background-color: var(--powder-pink);
  border: none;
  border-radius: 6px;
  padding: 6px 10px;

  &:hover {
    filter: hue-rotate(180deg);
    cursor: pointer;
  }
}

p {
  color: var(--light-gray);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.container {
  background-color: var(--grass-green);
  padding: 1rem;
}
