@import '~normalize.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root {
  --dark-blue: #2E4057;
  --gray: #C6C5B9;
  --pink: #E072A4;
  --red: #DA2C38;
  --green: #26532B;
}

html {
  min-height: 100%;
}

body {
  background: radial-gradient(ellipse at right -50% bottom -50%, var(--gray) -100%, var(--dark-blue) 100%)
}
