@import '~normalize.css';
@import 'app/notification-module/notification.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root {
  --dark-blue: #2E4057;
  --gray: #EBEAE5;
  --green: #26532B;
  --light-blue: rgba(32, 207, 219, 0.822);
  --pink: #E072A4;
  --red: #DA2C38;
}

html {
  min-height: 100%;
}

body {
  background: radial-gradient(ellipse at right -50% bottom -50%, var(--gray) -100%, var(--dark-blue) 100%)
}
